[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-figure] {
  @apply relative text-white;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] pre {
  background-color: var(--shiki-light-bg);
  /* @apply px-3; */
}

.dark [data-rehype-pretty-code-figure] pre {
  background-color: var(--shiki-dark-bg);
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-2;
}

.dark [data-rehype-pretty-code-figure],
.dark [data-rehype-pretty-code-figure] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}

[data-rehype-pretty-code-figure],
[data-rehype-pretty-code-figure] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  /* Optional, if you also want font styles */
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

/* [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
} */

/* .dark [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply bg-zinc-700/50;
} */

[data-rehype-pretty-code-title] {
  @apply mt-2 pt-6 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}

[data-rehype-pretty-code-figure] {
  @apply relative text-white;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-2;
}

.dark
  [data-rehype-pretty-code-figure]
  [data-line-numbers]
  > [data-line]::before {
  @apply text-zinc-50/40;
}

.light
  [data-rehype-pretty-code-figure]
  [data-line-numbers]
  > [data-line]::before {
  @apply text-zinc-600;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  @apply text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

/** Highlighted line */

.dark [data-rehype-pretty-code-figure] [data-highlighted-line],
.dark [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply bg-zinc-800;
  /* @apply bg-orange-900; */
}

.light [data-rehype-pretty-code-figure] [data-highlighted-line],
.light [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  /* @apply bg-zinc-700/50; */
  @apply bg-zinc-200;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply relative rounded-md;
  /* @apply bg-zinc-700/50 border-zinc-700/70; */
}

/* [data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-zinc-700/50;
} */

[data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply relative;
}

/* [data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
} */
/* 
[data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply rounded-md bg-zinc-700/50 border-zinc-700/70;
} */

[data-rehype-pretty-code-title] {
  @apply mt-2 pt-6 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}

.mdx details {
  @apply mt-4;
}
