[project]
name = 'clarinet'
description = ''
authors = []
telemetry = false
cache_dir = '.requirements'

[[project.requirements]]
contract_id = 'SP3DX3H4FEYZJZ586MFBS25ZW3HZDMEW92260R2PR.Wrapped-Bitcoin'

[[project.requirements]]
contract_id = 'SM3VDXK3WZZSA84XXFKAFAF15NNZX32CTSG82JFQ4.sbtc-token'
[contracts.counter]
path = 'contracts/counter.clar'
clarity_version = 3
epoch = '3.0'

[contracts.tester]
path = 'contracts/tester.clar'
clarity_version = 4
epoch = '3.3'
[repl.analysis]
passes = []

[repl.analysis.lints]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false

[repl.remote_data]
enabled = false
api_url = 'https://api.hiro.so'
