name: Publish
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  publish_npm:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare repository
        run: git checkout main
      - uses: pnpm/action-setup@v2
        with:
          version: 10.5.0
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 24.2.0
          cache: 'pnpm'
      - name: Install monorepo deps
        run: pnpm install
      - name: Build packages
        run: pnpm build:packages
      - name: Generate type stubs
        run: pnpm turbo run type-stubs --filter=@clarigen/cli
      - name: Type checks
        # run: pnpm typecheck
        run: pnpm turbo run typecheck --filter="\!docs-site"
      - name: Tests
        run: pnpm test
      - name: Lint
        run: pnpm lint
      # - name: Stash changes
      #   run: git stash
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm publish-changesets
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
