name: Publish
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  publish_npm:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare repository
        run: git checkout main
      - uses: pnpm/action-setup@v2
        with:
          version: 9.0.6
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 18.19.0
          cache: 'pnpm'
      - name: Install monorepo deps
        run: pnpm install
      - name: Build packages
        run: pnpm build:packages
      - name: Type checks
        run: pnpm typecheck
      - name: Tests
        run: pnpm test
      - name: Lint
        run: pnpm lint
      - name: Stash changes
        run: git stash
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1.4.7
        with:
          publish: pnpm publish-changesets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
