name: Publish
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  publish_npm:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare repository
        run: git checkout main
      - uses: oven-sh/setup-bun@v2
      - name: Install monorepo deps
        run: bun install
      - name: Build packages
        run: bun build:packages
      - name: Generate type stubs
        run: bun turbo run type-stubs --filter=@clarigen/cli
      - name: Type checks
        # run: bun typecheck
        run: bun turbo run typecheck --filter="\!docs-site"
      - name: Tests
        run: bun run test
      - name: Lint
        run: bun lint
      # - name: Stash changes
      #   run: git stash
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          publish: bun publish-changesets
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
