name: Pull Request
on: [pull_request, workflow_dispatch]

jobs:
  code_checks:
    name: Code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 10.5.0
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version: 24.2.0
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build packages
        run: pnpm build:packages
      - name: Lint
        run: pnpm lint
      - name: Type checks
        # run: pnpm typecheck
        run: pnpm turbo run typecheck --filter="\!docs-site"
      - name: Tests
        run: pnpm test
