name: Pull Request
on: [pull_request, workflow_dispatch]

jobs:
  code_checks:
    name: Code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Build packages
        run: bun build:packages
      - name: Lint
        run: bun lint
      - name: Type checks
        # run: bun typecheck
        run: bun turbo run typecheck --filter="\!docs-site"
      - name: Tests
        run: bun run test
